#!/bin/sh
{% if ansible_os_family == "MacOSX" %}

ifconfig $INTERFACE {{ vpn_ip }}/24 {{ vpn_ip }}
route add -net {{ vpn_ip }} {{ vpn_ip }} {{ vpn_netmask }}

{% else %}

ifconfig $INTERFACE {{ vpn_ip }} netmask {{ vpn_netmask }}

{% endif %}
